
@font-face {
  font-family: 'Champagne-Limousines-Bold';
  src: url('Champagne-Limousines-Bold.eot?#iefix') format('embedded-opentype'),  url('Champagne-Limousines-Bold.woff') format('woff'), url('Champagne-Limousines-Bold.ttf')  format('truetype'), url('Champagne-Limousines-Bold.svg#Champagne&Limousines-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
