html {
  margin-top: 0;
  padding-top: 0;
}

body {
  margin-top: 0;
  padding-top: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
}
li a, li:hover, li:focus, li:visited {
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.navbar-container {
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.navbar-wrapper {
  margin: 0px 0px 10px 0px;
  padding: 5px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #FFF;
  border-sizing: border-box;
}

.logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 10px 10px;
}

.logo-container {
  max-width: 150px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.primary-links {
  margin-bottom: 0px;
  position: absolute;
  width: 100%;
  top: -200px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  z-index: -1;
  -webkit-transition: top 0.6s ease;
          transition: top 0.6s ease;
}
.primary-links.navbar-expanded {
  top: 100%;
}
.primary-links li {
  background: #f1f1f2;
  margin: 1px 0;
}

.secondary-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
.secondary-links li {
  width: 20%;
  text-align: center;
  margin-left: 1px;
}
.secondary-links li a, .secondary-links li a:hover {
  text-decoration: none;
}

.navbar li {
  padding: 10px;
}
.navbar li a {
  display: block;
}

.nav-dropdown .nav-dropdown-toggle {
  position: relative;
}
.nav-dropdown .toggle-anchor {
  text-decoration: none;
}
.nav-dropdown .toggle-anchor:after {
  content: " ^";
}
.nav-dropdown .nav-dropdown-menu {
  display: none;
}
.nav-dropdown .nav-dropdown-menu .image-nav {
  display: none;
}
.nav-dropdown .nav-dropdown-menu .extra-nav-title {
  font-size: 1em;
}
.nav-dropdown:focus + ul.nav-dropdown-menu, .nav-dropdown a:focus + ul.nav-dropdown-menu {
  display: block;
}
.nav-dropdown li {
  display: block;
  margin-top: 1px;
  padding: 1px 0px 0px 5px;
  border-top: 1px solid #FFF;
}
.nav-dropdown li a {
  display: block;
  margin: 0px;
  padding: 5px 0px;
}

.icon-grovemade-logo-type {
  box-sizing: border-box;
  /* Icon 4 */
}

.mobile-menu-icon {
  width: 20px;
  padding: 10px 0px;
  position: relative;
  text-align: center;
  margin: 0px auto;
  -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.mobile-menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 1px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
}
.mobile-menu-icon span:nth-child(1) {
  top: 3px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
      transform-origin: left center;
}
.mobile-menu-icon span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
      transform-origin: left center;
}
.mobile-menu-icon span:nth-child(3) {
  top: 15px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
      transform-origin: left center;
}
.mobile-menu-icon.open span:nth-child(1) {
  top: 2px;
  left: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
.mobile-menu-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.mobile-menu-icon.open span:nth-child(3) {
  top: 15px;
  left: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

/* No mobile */
@media screen and (min-width: 768px) {
  .navbar-primary {
    margin-bottom: 60px;
  }
  .navbar-primary .navbar-container {
    position: static;
  }
  .navbar-primary .navbar-wrapper {
    height: auto;
  }
  .navbar-primary.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    background: #FFF;
  }
  .navbar-primary.sticky .navbar-wrapper {
    height: 50px;
  }
  .navbar-primary.sticky .main-links {
    display: none;
  }
  .navbar-primary.sticky .extra-links {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: none;
  }
  .navbar-primary.sticky .extra-links .nav-dropdown-toggle {
    line-height: 37px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
  }
  .navbar-primary.sticky .extra-links .nav-dropdown-toggle:hover {
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 0px;
  }

  .navbar-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 5px;
    border-bottom: 1px solid #f1f1f2;
    margin-bottom: 0px;
  }

  .logo-wrapper {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 0px;
    padding: 10px;
    margin: 0;
  }

  .mobile-toggle {
    display: none;
  }

  .primary-links {
    position: static;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    z-index: 25;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 0px;
    max-height: 100px;
  }
  .primary-links .main-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-transform: uppercase;
  }
  .primary-links .extra-links {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 1px;
    width: 100%;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.1em;
    border-bottom: 1px solid #f1f1f2;
    color: #000;
  }
  .primary-links .extra-links .nav-dropdown-toggle {
    margin: 0;
    padding: 5px 10px;
    line-height: 37px;
  }
  .primary-links .extra-links .nav-dropdown-toggle:hover {
    border-top: 1px solid #f1f1f2;
    border-right: 1px solid #f1f1f2;
    border-left: 1px solid #f1f1f2;
    margin-bottom: -1px;
    border-bottom: 1px solid #FFF;
    border-sizing: border-box;
  }
  .primary-links .extra-links .nav-dropdown-toggle:hover .nav-dropdown-menu {
    position: absolute;
    z-index: 25;
    margin-top: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    cursor: default;
    padding: 10px;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 1px #f1f1f2;
    border-bottom: 1px solid #f1f1f2;
  }
  .primary-links .extra-links .nav-dropdown-toggle:hover .nav-dropdown-menu .nav-dropdown-menu {
    display: none;
  }
  .primary-links .extra-links .nav-dropdown-toggle:hover .nav-dropdown-menu .image-nav {
    display: block;
  }
  .primary-links .extra-links .nav-dropdown-toggle:hover .nav-dropdown-menu .image-nav img {
    margin: 0 auto;
  }
  .primary-links .extra-links .nav-dropdown-toggle:hover .nav-dropdown-menu .extra-nav-title {
    margin-top: 10px;
    font-size: 0.9em;
    text-transform: uppercase;
  }
  .primary-links .extra-links:focus + ul.nav-dropdown-menu, .primary-links .extra-links a:focus + ul.nav-dropdown-menu {
    display: none;
  }
  .primary-links li {
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    margin-left: 10px;
  }
  .primary-links li a {
    padding: 0 5px;
    text-decoration: none;
  }

  .secondary-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    margin: 0px 10px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
    box-sizing: border-box;
  }
  .secondary-links li {
    margin: 0px 10px;
  }

  .navbar li {
    text-align: center;
    padding: 5px 0;
  }
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}
.cart-trigger {
    position: relative;
}
/* Shopping Cart */ 
#main-nav, .cd-cart {
    position: fixed;
    height: 100%;
    width: 260px;
    /* header height */
    padding-top: 25px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 60;
}

.cd-cart {
    right: -100%;
    top: 50px;
    background: #FFF;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
}

.cd-cart.speed-in {
    right: 0;
}

.cd-cart > * {
    padding: 0 1em;
}
.cd-cart h2 {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
}
.cd-cart .cd-cart-items {
    padding: 0;
}
.cd-cart .cd-cart-items li {
    position: relative;
    padding: 1em;
    border-top: 1px solid #e0e6ef;
}
.cd-cart .cd-cart-items li:last-child {
    border-bottom: 1px solid #e0e6ef;
}
.cd-cart .cd-qty, #cd-cart .cd-price {
    color: #a5aebc;
}
.cd-cart .cd-price {
    margin-top: .4em;
}
.cd-cart .cd-item-remove {
    position: absolute;
    right: 1em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url("../images/cd-remove-item.svg") no-repeat center center;
}
.cd-cart .cd-item-remove:hover {
    background-color: #e0e6ef;
}

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.cd-cart .cd-cart-total {
    padding-top: 1em;
    padding-bottom: 1em;
}
.cd-cart .cd-cart-total span {
    float: right;
}
.cd-cart .cd-cart-total::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
.cd-cart .checkout-btn {
    display: inline-block;
    width: 45%;
    height: 50px;
    margin-left: 10px; 
    line-height: 50px;
    color: #FFF;
    background: #6e6e6e;
    text-align: center;
}
.no-touch .cd-cart .checkout-btn:hover {
    background: #6e6e6e;
}

.cd-cart .go-to-cart-btn {
    display: inline-block;
    width: 45%;
    margin-left: 10px; 
    height: 50px;
    line-height: 50px;
    color: #FFF;
    background: #abd07e;
    text-align: center;
}

.cd-cart .go-to-cart-btn:hover {
    background: #abd07e;
}

.cd-cart .cd-go-to-cart {
    text-align: center;
    margin: 1em 0;
}

.cd-cart .cd-go-to-cart a {
    text-decoration: underline;
}

.shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 20;
    display: none;
}

.shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
}

ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:10px 5px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}

ul.dropdown-cart li .item-left div.item-img{
    float:left;
    width: 50px;
    margin-right:10px;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:0px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}

.w-full-height {
    height: 60%;
    position:absolute;
}

.w-horizontal-centered {
    margin: 0 auto;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.scrollable {
    max-height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.cd-cart-checkout {
    position:absolute;
    bottom: 120px;
}

@media only screen and (min-width: 768px) {

    .cd-cart > * {
        padding: 0 2em;
    }
    .cd-cart .cd-cart-items li {
        padding: 1em 2em;
    }
    .cd-cart .cd-item-remove {
        right: 2em;
    }

    #main-nav, .cd-cart {
        width: 350px;
        height: 100%;
    }

    .cd-cart.speed-in {
        top: 100px;
    }

    .carousel-indicators {
        display: block;
    }
}
