
.best-seller-2 .item{
    margin: 3px;
}

.best-seller-3 .item{
    margin: 3px;
}

.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}

.btn-success {
    color: #fff;
    background-color: #6e6e6e;
    border-color: #6e6e6e;
}

.carousel-control {
    height:30%;
    margin: auto;
}
