body {
    font-family: "Abel", sans-serif;
}
/* index */
.slider-owl .item{
    margin: 3px;
}

.main-title {
    margin: 20px 10px;
}

.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}

.btn-success {
    color: #fff;
    background-color: #6e6e6e;
    border-color: #6e6e6e;
}

.carousel-control {
    height:10%;
    margin: auto;
    width: 20%;
}

.basket-item-count {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 21px;
  position: absolute;
  left: 40px;
  top: -10px;
  width: 21px;
  background: #f1c40f;
  color: #fff;
  font-size: 13px;
  text-align: center;
  }

span.count {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
    
    .carousel-control {
        height:10%;
        margin: auto;
        width: 5%;
    }
}

/* Product Expander */

.expander-img-product {
   width: 100%; 
   height: 100%;
   max-height: 600px;
   max-width: 800px;
}

.expander-img {
    margin: 0 0 0 auto;
    max-height: 600px;
    max-width: 800px;
    position: relative;
}

.close {
    position: absolute;
    z-index: 15;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 5px;
    color: #000;
    opacity: 1;
}

.product-expander {
    padding: 20px;
    opacity: 1;
    max-height: 640px;
    min-width: 1170px;
    margin: 0 auto;
    border-sizing: border-box;
    color: #000;
    display: none;
}

.expander-fixed {
    background-color: #FFF;
    position: fixed;
    margin-top: 40px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

.section {
    padding: 0;
}

.section-1 {
    justify-content: space-between;
}

.section-2 {

}

.product-resume hr {
    margin: 5px 0;
}

.product-description {
    max-height: 120px;
    overflow: hidden;
}

.product-description label {
    font-weight: bold;
    margin: 5px 0;
}

.product-title {
    font-size: 26px;
    margin-bottom: 5px;
}

.main-title {
    font-size: 24px;
}

.brand-title {
    font-size: 18px;
    color: #A29694;
}

.product-prop label {
    float: left;
    font-weight: bold;
}

.product-prop span {
    float: right;
    font-style: italic;
}

.select-prop {
    background: transparent;
    border: none;
}

.product-details hr {
    margin: 10px 0;
}

.product-prop {
    display: block;
    width: 100%;
    padding: 10px 0;
}

.product-actions {
    margin-top: 20px; 
}

.btn-flat {
    border-radius: 0px;
    box-shadow: 1px 1px 0 #A8A8A8;
}

.btn-details {
    background: #white;
    color: #000;
    border: solid 1px #ccc;
    margin-right: 10px;
}

.btn-details:hover {
    background: #white;
    color: #000;
}

.btn-buy {
    background: #25242A;
    color: #fff;
    z-index: 2;
    border: solid 1px #000;
}

.btn-buy:hover {
    color: #fff;
}

.btn-confirm {
    z-index: 2;
    border: solid 1px #ccc;
}
/* Catalog */
.product-thumbnail {
    box-shadow: 1px 2px 3px #e6e6e6;
    border-radius: 0px;
}
.product-image .image {
    position: relative;
}

.media-buttons {
  position: absolute;
  top: 10px;
  right: 13px;
  font-size: 1.4em;
}

.likes-btn {
  color: #FFF;
  padding: 5px;
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.likes-btn:hover {
  color: #DD4E41;
}

.likes-btn.liked {
    color: #DD4E41;
}

.tweets-btn {
  color: #FFF;
  padding: 5px;
  cursor: pointer;
  transition: color 0.3s ease-in;
}

.tweets-btn:hover {
    color: #659FCB;
}

/* thumbs */
.grid_element {
  position: relative;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

div.product_photo {
  text-decoration: none;
  float: left;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
}

.product-image {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .product-image {
        height: 300px; 
    }
}

.element_info {
  width: 100%;
  margin: 0;
  float: left;
}

.center {
  text-align: center;
}

.prod_name_grid {
  position: relative;
  vertical-align: top;
  width: 100%;
  float: left;
  text-align:center;
}

.name {
  color: #525252;
  width: 100%;
  padding-bottom: 0.7em;
  padding-top: 0;
  border: none;
  margin: 0;
  font-size: 3.36px;
  line-height: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.prizes {
  text-align: center;
  margin: 0.7em auto;
  width: 70%;
  display: block;
  color: #97b994;
}

.prod_name_grid .name {
  font-size: 0.9em;
  font-weight: 700;
  color: #525252;
  text-align: center;
}

a, a:hover {
  background: transparent;
  color: #525252;
  text-decoration: none;
}

.prod_name_grid .prizes {
  font-size: 1em;
}

.quicklook {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100%;
  opacity: 0.8;
  -moz-transition: color, background, bottom 1s;
  -webkit-transition: color, background, bottom 1s;
  transition: color, background, bottom 1s;
}

.product_photo:hover .quicklook {
  bottom: 0;
  -moz-transition: color, background, bottom 0.8s;
  -webkit-transition: color, background, bottom 0.8s;
  transition: color, background, bottom 0.8s;
}

.quicklook span {
  background: url(http://www.zarahome.com/wcsstore/ZaraHomeStorefrontAssetStore/itxstandard/images/bg_quicklook.png?t=20151006225712) repeat left top;
  padding: 0 1.5em;
  margin: 0 auto;
  font-size: 1.1em;
  text-transform: uppercase;
  width: auto;
  color: #FFFFFF;
  display: inline-block;
  cursor: pointer;
}

.quicklook:hover {
  opacity: 1;
}

.range {
  display: block;
  transform: translateY(-50%);
}
/* General */

.flex {
    display: flex;
}

.flex-vertical {
    flex-direction: column;
}

.flex-start {
    align-self: flex-start;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    align-self: flex-end;
}

.flex-grow {
    flex: 1;
}
