
.slider-owl .item{
    margin: 3px;
}

.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}

.btn-success {
    color: #fff;
    background-color: #6e6e6e;
    border-color: #6e6e6e;
}

.carousel-control {
    height:30%;
    margin: auto;
}

.basket-item-count {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 21px;
  position: absolute;
  left: 40px;
  top: -10px;
  width: 21px;
  background: #f1c40f;
  color: #fff;
  font-size: 13px;
  text-align: center;
  }

span.count {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}



